@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600;700&display=swap');
/* font-family: 'Noto Serif KR', serif; */
/* reset */
body,html{width:100%;}
body{
  margin:0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color:#fff;
  color:#333;
}
h1,h2,h3,h4,h5,h6{margin: 0;}
ul,ol,li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color:inherit;}
img{width:100%; vertical-align: top;}
*{box-sizing: border-box;}
/* common */
.inner{max-width:1200px; margin:0 auto;}
/* main */
#container{
  width:100%;
  /* min-width: 1200px; */
}
header{}
/* utile */
.utileWrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:40px;
}
.utileWrap div{}
.utileWrap div:first-child{margin-right:20px;}
.utileWrap a{
  font-size:14px;
}
.utileWrap a:hover{
  color:#00427b;
}
.utileWrap img{width:20px; height:20px; vertical-align: -5px; margin-right:5px;}
/* gnbWrap */
.gnbWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
  position: relative;
}
/* logo */
.logo a{
  display: block;
  width:110px; height:42px;
  text-indent: -9999px; overflow: hidden;
  background: url(../images/MD_logo.png) no-repeat left top;
  background-size: cover;
}
/* gnb */
.gnb{
  display:flex;
}
.gnb.on{display: block;}
.gnb>li{
  position: relative;
  margin:0 10px;
}
.gnb>li:hover>.sub{
  display:block;
  /* background-color: #5A5DA7; */
  background-color: #00427b;
  color: #fff;
}
.gnb>li>a{
  display: block;
  font-size:20px;
  padding: 0 20px;
  line-height: 80px;
}
.gnb>li:hover>a{
  /* color:#5A5DA7; */
  color:#00427b;
  font-weight: 700;
}
/* sub */
.sub{
  display:none;
  position: absolute;
  right:50%; top:100%;
  transform: translateX(50%);
  z-index: 2;
  width:150px;
}
.sub li{}
.sub a{
  display:block;
  font-size:16px;
  padding:10px 10px;
}
.sub li:hover>a{
  background-color: rgb(255, 255, 255);
  /* color: #5A5DA7; */
  color: #00427b;
}
/* mb_icon */
.mb_icon{
  display: none;
  position:absolute;
  top:30px; right:25px;
  width: 25px; height: 20px;
  cursor: pointer;
}
.mb_icon.close span:nth-child(1){
  top:50%;
  transform: rotate(-45deg);
}
.mb_icon.close span:nth-child(2){display: none;}
.mb_icon.close span:nth-child(3){
  top:50%;
  transform: rotate(45deg);
}
.mb_icon span{
  display: block;
  position:absolute; left:0;
  height: 2px; width: 100%;
  background-color: #000;
}
.mb_icon span:nth-child(1){top:0;}
.mb_icon span:nth-child(2){top:50%;}
.mb_icon span:nth-child(3){top:100%;}
.mu_search{
  width: 25px; height: 25px;
  position: absolute;
  top: 30px; right:75px;
  display: none;
}
.mu_search.on{display: block;}
/* mainbanner */
.mainWrap{
  position:relative;
  width:100%;
  height:690px;
  overflow: hidden;
  margin: 0 auto;
}
.mainBnr{
  position:absolute; top:0; left:0;
  width: 200%; display: flex; height:690px;
}
/* mainBnr1 */
.mainBnr1{
  display: block;
  width:50%;
  height:690px;
  background: url(../images/mainbnr1.jpg) no-repeat center center;
  background-size: cover;
  position:relative;
}
.bnr1_txtWrap{
  position:absolute;
  top:200px; left:45%;
}
.mainBnr2{
  display: block;
  width:50%;
  height:690px;
  background: url(../images/mainbnr2.jpg) no-repeat center center;
  background-size: cover;
  position:relative;
}
.bnr2_txtWrap{
  position:absolute;
  top: 29%;left:49%;
  font-family: 'Noto Serif KR', serif;
  color:#fff;
}
.bnr2_txtWrap h2{
  font-size:40px;
  margin-bottom: 30px;
}
.bnr2_txtWrap p{
  font-size:18px;
}
.bnr2_txtWrap p:nth-of-type(1){margin-bottom: 50px;}
.bnr2_txtWrap p:nth-of-type(2){line-height: 1.7; letter-spacing: -1px;}
/* searchBar */
.searchBar{
  margin-top:80px;
  /* display: flex;
  align-items: center; */
  /* height:150px; */
}
.searchBar h2{display: none;}
.tagWrap{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color:#00427b;
  font-size: 18px;
  margin-bottom:10px;
}
.tagWrap li{
  margin:0 10px;
}
.searchBox{
  width:80%; height:50px;
  background-color: #fff;
  border-radius: 50px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  padding:0 20px;
  align-items: center;
  border: 6px solid #00427b;
}
.searchBox input[type="search"]{
  flex:1;
  margin:0 20px;
  border:none;
  height:30px;
}
.searchBox a{
  font-size:20px;
  font-weight: bold;
  color:#333;
}
.searchBox a:hover{
  color:#00427b;
}
/* newItems */
.newItems{
  margin-top:80px;
  margin-bottom: 80px;
}
.txtWrap{
  text-align: center;
}
.txtWrap h2{
  text-transform: uppercase;
  font-size: 36px;
}
.txtWrap p{
  font-size: 18px;
  margin-bottom:40px;
}
.new_imgWrap{
  width:100%;
  padding-top: 33%;
  position:relative;
  overflow: hidden;
}
.listSlides{
  display: flex;
  Width:300%; height: 27.2%;
  position:absolute;
  left:0; top:0;
}
.listWrap{
  display: flex;
  justify-content: space-between;
  width:33.34%;
}
.listWrap li{
  /* width:225px; height:323px; */
  width: 19%;
  margin-right:1%;
  box-shadow: 0px 0px 1px #bbb;
}
.listWrap li:last-child{margin-right: 0;}
.listWrap img{}
.allow{
  width: 100%;
  position:absolute;
  top:0%;
}
.allow a{
  display: block;
  position: absolute;
  background-color: rgba(226,226,226,0.5);
  width:50px; padding-top:27.2%;
}
.allow img{
  position: absolute;
  top:50%; transform: translateY(-50%);
  height: 50px; width: 50px;
}
.allow .btnPrev{
  left:0;
}
.allow .btnNext{
  right:0;
}
.allow a.disabled{display:none;}
.indicators{
  position:absolute;
  bottom:0; left:50%;
  transform: translateX(-50%);
  display: flex;
}
.indicators a{
  display: block;
  width:20px; height:20px;
  text-align: center;
  background-color: #eee;
  border-radius: 50%;
  margin:0 10px;
}
.indicators a.active,.indicators a:hover{
  background-color: #00427b;
}
/* eventWrap */
.eventWrap{
  margin-bottom: 80px;
}
.evn_imgWrap{
  display: flex;
  flex-wrap: wrap;
}
.events{
  flex:2;
  display: flex;
  flex-direction: column;
}
.events>div{
  flex:1;
  display: flex;
}
.event01>div,.event02>div{
  flex:1;
}
.event03{
  flex:1;
  /* display: flex;
  flex-direction:column; */
}
.evn_txtWrap{
  /* width:400px; height:400px; */
  height: 100%; width: 100%;
  border:2px solid #eee;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 30px;
}
.event03>div:last-child{height:50%;}
.event01:hover .evn_txtWrap,.event02:hover .evn_txtWrap,.event03:hover .evn_txtWrap{background-color: rgb(38, 38, 53); color:#fff; border: none;}
.evn_txtWrap p{
  margin-top: 80px;
}
.event01 .evn_txtWrap{
  text-align: left;
}
.evn_imgWrap img{
  /* width:400px; */
  width: 100%;
}
/* awdWrap */
.awdWrap{
  height:800px;
  width:100%;
  /* background-color: #5A5DA7; */
  background-color: #00427b;
  display:flex;
  margin-bottom: 80px;
}
.awd_imgWrap{
  flex:1; height: 800px;
  text-indent: -9999px; overflow: hidden;
  background: url(../images/54_6.jpg) no-repeat left bottom;
  background-size: cover;
}
.awd_txtWrap{
  flex:1;
  color:#fff;
  margin: 60px 0 0 80px;
  text-align: left;
}
.awd_txtWrap h2{
  margin-bottom: 30px;
  font-size: 36px;
}
.awd_txtWrap hr{
  display: inline-block;
  width:40px;
}
.awd_txtWrap>p{text-align: center; display: none;}
.awd_txtWrap>p a{
  display: inline-block;
  padding:10px 25px;
  border: 1px solid #fff;
  font-size:18px;
}
.awd_txtWrap li{
  display: flex;
  align-items: center;
  font-size:16px;
}
.awd_txtWrap li h3{
  width:100px; height:40px;
  line-height: 40px;
  border-radius: 30px;
  border:1px solid #fff;
  text-align: center;
  margin-right: 20px;
}
/* snsWrap */
.snsWrap{
  margin-bottom: 80px;;
}
.sns_imgWrap{
  display: flex;
  justify-content: space-between;
}
.sns_imgWrap li{
  width:23%;
  margin-right: 2%;
}
.sns_imgWrap li:last-child{margin-right:0;}
.sns_imgWrap li:hover 
.sns_imgWrap a{
  display: block;
  width:100%;
}
.sns_imgWrap img{}
/* footer */
footer{
  background-color:#eee;
  width:100%;
}
footer .inner{
  display: flex;
  padding:30px;
}
.ftWrap{
  flex:1;
}
.ftWrap p{
  margin:0 0 30px;
  font-size: 13px;
}
.ft_logo{
  display: inline-block;
  width:100px; height:40px;
  text-indent: -9999px; overflow: hidden;
  background: url(../images/MD_logo.png) no-repeat left top;
  background-size: contain;
  margin-top:30px;
}
.ft_txtWrap{
  flex:3;
}
/* iconWrap */
.iconWrap{
  display: flex;
  justify-content: flex-start;

}
.iconWrap>li{
  width:30px; height:30px;
  border-radius: 50%;
  border:1px solid black;
  margin:0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap>li:hover{
  width:32px; height: 32px;
}
.sns_fb{
  display: block;
  width: 20px; height:20px;
  background: url(../images/icon-facebook.png) no-repeat left top;
  background-size: cover;
}
.sns_tw{
  display: block;
  width: 20px; height:20px;
  background: url(../images/icon-twitter.png) no-repeat left top;
  background-size: cover;
}
.sns_ins{
  display: block;
  width: 20px; height:20px;
  background: url(../images/icon-instagram.png) no-repeat left top;
  background-size: cover;
}
.sns_yut{
  display: block;
  width: 20px; height:20px;
  background: url(../images/icon-youtube.png) no-repeat left top;
  background-size: cover;
}
.sns_cafe{
  display: block;
  width: 20px; height:20px;
  background: url(../images/icon-cafe.png) no-repeat left top;
  background-size: cover;
}
/* ft_txtWrap */
.ft_txtWrap{
  text-align: right;
}
.ft_txtWrap ul{
  margin-top:30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}
.ft_txtWrap li span{
  border:1px solid #bbb;
  margin:0 10px;
}
.ft_txtWrap li a:hover{
  color:#00427b;
}
.ft_txtWrap p{
  font-size: 14px;
}

@media screen and (max-width:1180px){
  #container{width:90%; margin: 0 auto;}
  .mainBnr1{background-position: 40% center;}
  .bnr1_txtWrap{left:55%;}
  .searchBox{width: 90%;}
  .evn_txtWrap p{margin-top: 60px;}
  .awdWrap{height:700px;}
  .awd_imgWrap{height:700px;}
  .awd_txtWrap{margin:60px 40px;}
  .awd_txtWrap h2{font-size:30px;}
  .awd_txtWrap p{font-size:15px;}
  .ft_txtWrap ul a{font-size:14px;}
  .ft_txtWrap p{font-size:12px;}
}
@media screen and (max-width:940px){
  #container{width:100%;}
  .gnb>li{margin:0;}
  .gnb>li:last-child .sub{right:0; transform: translateX(0);}
  .mainBnr1{background-position: 40% center;}
  .mainBnr2{background-position: 47% center;}
  .bnr1_txtWrap{left:55%;}
  .bnr2_txtWrap{left:54%;}
  .evn_txtWrap p{margin-top: 40px;}
  .awd_imgWrap{display: none;}
  .awdWrap{text-align: center; display: block;}
  .awd_txtWrap{display: inline-block;}
  .awd_txtWrap p{font-size:14px;}
  .awd_txtWrap h2{font-size:28px;}
  .awd_txtWrap h3{font-size:16px;}
  footer .inner{display: block;}
  .ft_txtWrap>ul{display: none;}
  .ft_txtWrap{text-align:center;}
  .ftWrap{width: 100%; text-align: center;}
  .iconWrap{justify-content: center; margin-bottom: 20px;}
  .ftWrap p{margin-bottom: 20px;}
}
@media screen and (max-width:768px){
  #container{width:100%;}
  .txtWrap>p{display: none;}
  .txtWrap{margin-bottom: 70px;}
  /* gnb */
  .gnb,.utileWrap{display: none;}
  .gnb{
    position: absolute;
    top:100%; right:0;
    width: 100%; height: 100vh;
    background-color: rgba(0,0,0,0.8); color:#fff;
    z-index: 3;
  }
  .gnb li{margin: 0; border-bottom: 1px solid #bbb;}
  .gnb li:hover a{
    background-color: #00427b; color:#fff;
  }
  .gnb li:hover .sub{
    position:static;
    top:0; left:0;
    transform: translateX(0);
    width: 100%;
  }
  .sub li:hover>a{
    background-color: #fff;
    color:#00427b;
  }
  .mb_icon{display: block;}
  .logo{margin-left:25px;}
  /* main */
  .mainBnr1{
    background-image: url(../images/mainbnr-486-1.jpg);
    background-position: center center;
  }
  .bnr1_txtWrap>p:last-child,.bnr1_txtWrap>hr,.bnr1_txtWrap>h3,.bnr2_txtWrap>p:last-child{display: none;}
  .mainBnr2{
    background-image: url(../images/mainbnr-486-2.jpg);
    background-position: center center;
  }
  .bnr1_txtWrap{
    top:80%;
    left:50%; transform: translateX(-50%);
    text-align: center;
  }
  .bnr2_txtWrap{
    top:80%;
    left:50%; transform: translateX(-50%);
    text-align: center;
  }
  .bnr1_txtWrap h2,.bnr2_txtWrap h2{font-size:30px; margin: 0;}
  .bnr1_txtWrap p,.bnr2_txtWrap p{font-size:20px; margin-top: 10px;}
  /* searchBar */
  .searchBar{display: none;}
  /* newList */
  .listWrap>li:nth-child(4),.listWrap>li:nth-child(5){display: none;}
  .listWrap li{
    width: 32%;
    margin-right:2%;
  }
  .new_imgWrap{padding-top: 45.7%;}
  .indicators{display: none;}
  .allow a{padding-top:45.7%;}
  .listWrap li:nth-child(3){margin-right: 0;}
  /* event */
  .events{flex-direction:row; width:66.66666%;}
  .event01>div:nth-child(2),.event02>div:first-child,.event03>div:last-child{display: none;}
  .events>div{flex:1;}
  /* awd */
  .awd_txtWrap{margin:80px;}
  /* SNS */
  .sns_imgWrap li{width:32%; margin-right:2%;}
  .sns_imgWrap li:last-child{display: none;}
  .sns_imgWrap li:nth-child(3){margin-right: 0;}
  /* footer */
  footer .inner{display: block;}
  .iconWrap{display: none;}
  .ft_txtWrap>ul{display: none;}
  .ft_txtWrap{text-align:center;}
  .ftWrap{width: 100%; text-align: center;}
}
@media screen and (max-width:486px){
  /* newList */
  .listWrap>li{display: none;}
  .listWrap>li:first-child{display: block;}
  .listWrap li{
    width: 70%;
    margin:0 15%;
  }
  .new_imgWrap{padding-top: 100.8%;}
  .allow a{padding-top:100.8%; background-color:transparent;}
  /* event */
  .evn_imgWrap{display: block;}
  .events{display: block; width: 100%; margin-bottom: 20px;}
  .event01{margin-bottom: 20px;}
  /* awd */
  .awd_txtWrap h2{font-size: 25px;}
  .awd_txtWrap{margin:0;}
  .awd_txtWrap hr,.awd_txtWrap ul{display: none;}
  .awdWrap{height: 200px; padding:35px;}
  .awd_txtWrap>p{display: block;}
  /* SNS */
  .sns_imgWrap{flex-wrap:wrap;}
  .sns_imgWrap li:last-child{display: block;}
  .sns_imgWrap>li{width:49%; margin-right:1%; margin-bottom: 2%;}
  .sns_imgWrap>li:nth-child(2){margin-right:0;}
  /* footer */
  .ft_txtWrap p{display: none;}
}